* {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior:smooth ;
}
body{
    overflow-x: hidden;
}
header {
    width: 100%;
    background: rgb(5, 21, 54)center no-repeat;
}

#header-home .logo img {
    width: 100px;

}

header .nav {
    justify-content: flex-end;
    align-items: center;
    

}
header .N{
    background: rgb(5, 21, 54)center no-repeat;
}

header .nav ul {
    float: right;
    padding: 0;
    margin: 0;
}

header .nav ul li {
    display: inline-block;

}

header .nav ul li a {
    color: #fff;
    font-size: 20px;
    transition: .3s;
    padding: 6px 12px;
    margin: 0 4px;
    text-decoration: none;
    text-transform: uppercase;
}
header .nav ul li a:hover {
    color: #ff7e27;
}


.hero img {
    width: 100%;
   
}

.hero {
   
    text-align: center;
    padding-top: 0px;
    
}


.hero h1 {
    color: #ffffff;
    font-size: 50px;
    position: relative;
    bottom: 400px;
}
.hero button a{
    color: #fff;
}
.hero button {
    background: #fe8725;
    color: rgb(255, 255, 255);
    font-size: 24px;
    position: relative;
    bottom: 400px;
    margin-top: 40px;
}

/*slider*/


/*Slider*/

#slider {

    background: rgb(200, 204, 200);


}

#slider h2 {
    margin: 40px 0px 40px 0px;
    font-weight: 700;
    font-size: 35px;
}

/*servicios*/

#servicios {
    padding: 100px 0px 100px 0px;
    width: 100%;
    position: relative;
    padding-bottom: 200px;
    padding-top: 40px;
    background: url("../img/servicios.png")center no-repeat;
    background-size: cover;

}

#servicios h2 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 35px;

}

#servicios h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
}

#servicios h3 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 700;
}

#servicios p {
    font-size: 20px;
    text-align: justify;
    padding: 0px 25px 0px 25px;
}

#servicios .items-servicios {
    justify-content: space-around;
    padding-top: 60px;

}

#servicios .items-servicios .itemS {
    opacity: 10px;
    background: #fff;
    padding: 0px 0px 45px 0px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
    margin: 0px 0px 40px 0px;


}

#servicios .items-servicios img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

#servicios .items-servicios .mono img {
    width: 100%;
    height: 220px;

}

#servicios .items-servicios .itemS {
    position: relative;
}



/*espacio*/
#hola {
    background: rgb(5, 21, 54);

    padding: 80px 0px 80px 0px;
}


/*footer*/

footer {
    padding: 0px 0px 50px 0px;
    width: 100%;
    position: relative;
    background: url("../img/footer1.png")center no-repeat;
    background-size: cover;
}

footer p {
    padding: 20px 0px 0px 50px;
    color: #fff;
    font-size: 20px;
}

/*responsive logo y nav*/
@media screen and (max-width:768px) and (min-width:220px) {
    header .logo {
        text-align: center;
    }

    header .nav {
        justify-content: center;

    }

    header .logo img {
        max-width: 100%;
    }

    header .nav ul li a {
        font-size: 10px;
    }


    .items-servicios {
        margin: 0 auto;
    }

    .item .imagen img {
        max-width: 100%;
    }

    footer p {

        font-size: 10px;
    }

    #servicios p {
        font-size: 15px;

    }

    #servicios h2 {

        font-size: 25px;

    }

    #servicios h1 {

        font-size: 20px;
    }

    #servicios h3 {
        font-size: 18px;

    }

    .info h2 {
       font-size: 25px;
    }

    .info p {
        font-size: 15px;


    }
    #slider h2 {
    
        font-size: 25px;
    }
    .item .cont-ima-info {
        margin: 0 auto;

    }
    
}
@media screen and (max-width:950px) and (min-width:611px){
    .hero h1 {
       
        font-size: 30px;
        position: relative;
        bottom: 310px;
    }
    
    .hero button {
       
        font-size: 23px;
        position: relative;
        bottom: 310px;
        
    }

}
@media screen and (max-width:610px) and (min-width:471px){
    .hero h1 {
       
        font-size: 20px;
        position: relative;
        bottom: 180px;
    }
    
    .hero button {
       
        font-size: 18px;
        position: relative;
        bottom: 180px;
        
    }
}
@media screen and (max-width:470px) and (min-width:220px){
    .hero h1 {
       
        font-size: 15px;
        position: relative;
        bottom: 150px;
    }
    
    .hero button {
       
        font-size: 12px;
        position: relative;
        bottom: 150px;
        
    }
}


    .item {
        display: none;
        animation: aparecer 1.2s forwards
    }

    .item .cont-ima-info {
        opacity: 10px;
        background: #fff;
        padding: 40px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
        margin: 0px 0px 0px 15px;

    }

    .item:first-child {
        display: flex;
    }

    .info h2 {
        padding: 20px 0px 10px 0px;
        text-align: center;
        font-size: 35px;
    }

    .info p {
        text-align: justify;
        padding: 0px 30px 0px 30px;
        font-size: 20px;
    }

    .arrows {

        padding: 50px 0px 50px 0px;
    }

    .arrows div {
        color: #000;
        margin: 0px 50px 0px 70px;
        transition: all .4s;
        font-size: 50px;
        text-align: center;
    }

    .arrows div:hover {
        color: #fe8725;
        font-size: 60px;
        margin-top: -5px;
    }

    .item .imagen img {
        width: 500px;


    }


    @keyframes aparecer {
        0% {
            opacity: 0.4
        }

        100% {
            opacity: 1
        }
    }

    footer .iconos {
       
        margin: 0px 0px 0px 100px;
       
    }
    footer .iconos .ico1 {
       
        
        background: #fff;
        padding: 15px;
    }